*{
font-family:cursive;
margin:0;
padding:0;
box-sizing:border-box;
scroll-padding-top: 4rem;
scroll-behavior:smooth;
list-style:none;
text-decoration:none;
}
:root{
 --main-color:rgb(217, 217, 53);
--secondary-color:#c6aa77;
--text-color:#312222;
--bg-color:#fff;
--box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

button{
    background:var(--main-color);
    padding:var(--button-padding);
}
img{
    width: 100%;
   
    
} 
.logo{
    width: 100px;
    height:auto;
}
body{
    color:var(--text-color);
}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center; 
    border: 1px solid black;
     padding: 5px 100px; 
     background:var(--text-color); 
    transition:0.5s linear;
    /* transparent */
     /* background: rgba(0, 0, 0, 0);
      backdrop-filter: blur(20px); */

}
.navbar{
    display:flex;
    /* <!--list item move right--> */
/* margin-left: auto; */
   
   
  
}
.navbar a{
    padding:8px 17px;
    color:var(--bg-color);
    font-size:1rem;
    text-transform:uppercase;
    font-weight: bold;
    transition:0.3s all linear;
}

/* <!--icons--> */
.header-icons{
font-size: 20px;;
cursor: pointer;
z-index:10000;
display: flex;
column-gap:1.2rem;
}
    

.navbar a:hover{
    background-color:var(--secondary-color);
    border-radius:0.3rem;
    
}
.home{
    width:100%;
    min-height:100vh;
    background:url(img/bg.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap: 24px;
    padding: 50px 100px;
}


.home-text h1{
   font-size:3.4rem;
    color:var(--secondary-color);
    font-style:normal;
    text-transform: uppercase;

}

.home-text p{
    color:var(--bg-color);
    font: size 1.2rem;
    padding: 20px 0;
}

.home-img img{
     animation-name:animation ;
        animation-duration:5s;
        animation-iteration-count: infinite;
 
       }
        

        @keyframes animation {
            from { transform: translateY(0px); }
            to { transform: translateY(60px); }
        }
/* .logo{
     animation-name:move ;
        animation-duration:6s;
        animation-iteration-count: infinite;
 
}
@keyframes move{
            from { transform:rotate(0deg); }
            to { transform: rotate(360deg); }
        } */

         .btn{
            padding: 5px 40px;
            background-color:var(--secondary-color);
            border-radius:0.2rem;
            box-sizing: border-box;
        color:var(--bg-color);
        font-weight:500;
        }
  
 .btn:hover{
    background:rgb(200, 200, 53);
 }
 .about{
    display:flex;
    padding: 50px 100px;
    gap:1.5rem;
    
 }
 .aboutimg img{
    
    border-radius:1.8rem;
 }
 .about-text h2{
    text-transform:uppercase;
    font-weight:16px;
    padding-bottom:8px;
 }
 .about-text p{
    font-size:15px;
    margin:17px 0 ;
 }
 
 .product .heading h2{
    text-align: center;
    text-transform:uppercase;
    font-size:1.8rem;
 }
 .container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:1.5rem;
    margin:30px 100px 30px 100px;
 }

 .container .box{
    position: relative;
    /* border:1px solid; */
    padding:10px;
    display:flex;
    flex-direction:column;
    border-radius:8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* align-items: center; */
 }
 .container .box:hover{
   transform:scale(105%);
 }
 .container img{
    width:100%;
    height:250px;
    object-fit:contain;
    background: #f1f1f1;
    border-radius:8px;
 }
 .box h3{
    text-transform:uppercase;
    margin:8px 0;
 }
 .container .box .content{
    justify-content:space-around;
    display: flex;
 }

 .container .box .content span{
    border: 1px solid;
    padding:0 16px;
    background-color:var(--secondary-color);
    color:var(--bg-color);
    border-radius:4px;
 }

 .container .box .content a{
   color:var(--text-color);
   text-transform: capitalize;
   border: 1px solid var(--text-color);
   border-radius:4px;
   padding:0 8px;
   box-sizing:border-box;
     
   
 }

 .container .box .content a:hover{
   background-color:var(--secondary-color);
   color: var(--bg-color);
   transition-property:background-color;
   transition-duration:0.2s;
 }
 .custormer .heading h2{
   text-align: center;
    text-transform:uppercase;
    font-size:1.8rem;
    padding-top:10px;

 }
 .customer-container{
   display: grid;
   grid-template-columns:1fr 1fr 1fr;
   gap:1.5rem;
   margin: 50px 100px;;
 }

 .customer-container .box{
 
   box-sizing: border-box;
   padding:10px;
   box-shadow:var(--box-shadow);
   text-align: center;
 }
  .customer-container .box img{
width:80px;
height: 80px;
border-radius:50%;
object-fit: cover;

  }
  .stars .bx{
   color:var(--secondary-color);
  }
  .customer-container .box:hover{
   background-color:rgb(238, 241, 240);
   transform:scale(105%);
   transition:0.6s all linear;
  }

  /* footer section */

  footer{
   background-color:var(--text-color);
   color:var(--bg-color);
   box-sizing: border-box;
   padding:8px 0;
   text-align: center;
  }

  /* footer box */

  .footerbox{
   display: grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   margin:0 100px;
   
   
   
  }
  .footerbox .box{
  box-sizing: border-box;
   text-decoration: none;
   padding:0 20px;

  }
   .footerbox .box h3{
      margin-bottom:10px;
      color:black;
   }

    .footerbox .box .socialicons a{
font-size: 25px;
color:var(--text-color);
gap:2rem;
border-radius: 0.1px;
box-shadow:var(--box-shadow);
background-color:beige;


    }

     .footerbox .box .socialicons a:hover{
       transform:scale(105%);
       background-color:var(--secondary-color);
     }

     .footerbox .box li a{
      color:var(--text-color);

     }
       .footerbox .box p{

color:var(--text-color);
margin-bottom:10px;
}
.footerbox .box li a:hover{
   color:var(--secondary-color)
}
.box .contacts{
   display: flex;
   flex-direction: column;
   row-gap:0.5rem;
}
@media(max-width:1058px){
   header{
      padding: 16px 60px;
   }
   section{
      padding: 50px 60px;
   }
  .home-text h1{
font-size: 1.2rem;
  }
}